<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="2.0.0" targetFramework="net472" />
  <package id="App.Metrics.Concurrency" version="4.3.0" targetFramework="net472" />
  <package id="log4net" version="2.0.14" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net472" />
  <package id="websocket-sharp-customheaders" version="1.0.2.31869" targetFramework="net472" />
</packages>